
<!DOCTYPE html>
<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Got of War</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="./css/styles.css">
            


          
          </head>
          
          <body>
            <div class=e8_61>
                <div  class="fon"></div>

                <span  class="text">
                    <h1 class="text_1" >НАЧНИТЕ ПРИКЛЮЧЕНИЕ</h1>
                                            Теперь вместо греческого пантеона отправляют Кратоса в мир
                                                  скандинавских мифов. Старая жизнь осталась в прошлом,
                                                        а впереди – новая жизнь с сыном Атреем.
               </span>
                <div  class="tor"></div>
                <div  class="frea"></div>
                <div  class="kratos"></div>
                <div  class="GoW"></div>
            </div>
          </body>
</html>